.album-cover-container{
 background-color: none;
}
.cover-image-size{
  width: 640px;
  height: 640px;
}
.ant-list-item :hover{
  background-color: white;
 
}
.fafa-color{
  color: black;
}
.artis-header{
  width: 90%;
}
.artis-header h2{
  margin-right: 10px;
}

.space-bewten-badge{
  margin-right: 10px;
}
.gender-container{
  width: 100%;
}



@media (max-width: 650px) {
  .cover-image-size {
    width: 320px;
    height: 320px;
  }
  .album-cover-container{
    width: 100%;
  }
}

@media (max-width: 350px) {
  .cover-image-size {
    width: 250px;
    height: 250px;
  }
}